 @model ET_Vest.Data.ViewModels.PrintedEditionProviderViewModel

<h2>Edit Provider</h2>
<form method="post" asp-action="Edit" asp-controller="Provider">
    <div class="form-control">
        <label asp-for="@Model.Provider.Name" class="form-label"></label>
        <input asp-for="@Model.Provider.Name" class="form-control" />
    </div>
    <div class="form-control">
        <label asp-for="@Model.Provider.PhoneNumber" class="form-label"></label>
        <input asp-for="@Model.Provider.PhoneNumber" class="form-control" />
    </div>
    <div class="form-control">
        <label asp-for="@Model.Provider.Email" class="form-label"></label>
        <input asp-for="@Model.Provider.Email" class="form-control" />
    </div>
    <div class="form-control">
        <label asp-for="@Model.Provider.City" class="form-label"></label>
        <input asp-for="@Model.Provider.City" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.PrintedEditionProvider.PrintedEditionId" class="form-label"></label>
        <select asp-for="@Model.PrintedEditionProvider.PrintedEditionId"
                asp-items="@ViewBag.PrintedEditions"
                class="form-control"></select>
    </div>
    <div class="form-group">
        <input asp-for="@Model.Provider.ProviderId" class="d-done" value="@Model.Provider.ProviderId" />
        <input type="submit" value="Update" class="btn btn-primary" asp-sction="Edit" />
    </div>
</form>