@model IEnumerable<ET_Vest.Models.TradeObject>

<h2>Търговски обекти</h2>
<table class="table">
    <thead>
        <tr>
            <th>Име на търговския обект</th>
            <th>Адрес</th>
            <th>Служител</th>
         @*    @if (!User.IsInRole("Employee"))
            {
                <th>Actions</th>
            } *@
        </tr>
    </thead>
    <tbody>
        @foreach (var tradeObjects in Model)
        {
            <tr>
                <td>@tradeObjects.Name</td>
                <td>@tradeObjects.Address</td>
                <td>@tradeObjects.Employee</td>
                @*     <td>
            @string.Join(", ", tradeObjects.Requests.Select(m => m.Id).ToList())
            </td> *@
                @if (!User.IsInRole("Employee"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@tradeObjects.Id"
                           class="btn btn-primary">Редактиране</a>
                        <form asp-action="Delete" asp-route-id="@tradeObjects.Id" method="post"
                              onsubmit="return confirm('Сигурни ли сте, че искате да изтриете този търговски обект?');">
                            <button type="submit" class="btn btn-danger">Изтриване</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (!User.IsInRole("Employee"))
{
    <a asp-action="Add" asp-controller="TradeObject" class="btn btn-success">Добавяне на нов търговски обект</a>
}