@model IEnumerable<ET_Vest.Models.Request>

<h2>Заявки</h2>
<table class="table">
    <thead>
        <tr>
            <th>Дата на заявката</th>
            <th>Категория</th>
            <th>Печатно издание</th>
            <th>Количество</th>
            <th>Търговски обект</th>
            <th>Доставчик</th>
            <th>Статус</th>
        @*     @if (!User.IsInRole("Admin"))
            {
                <th>Actions</th>
            } *@
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.RequestDate.ToString("dd/MM/yyyy")</td>
                <td>@request.Cathegory</td>
                <td>@request.PrintedEdition.Title</td>
                <td>@request.RequestedQuantity</td>
                <td>@request.TradeObject.Name</td>
                <td>@request.Provider.Name</td>
                <td>@request.Status </td>

                <td>
                    @if (User.IsInRole("Owner"))
                    {
                        @if (request.Status=="Изчакваща")
                        {
                            <a asp-action="Edit" asp-route-id="@request.Id"
                            class="btn btn-primary">Редактиране</a>
                            <form asp-action="Delete" asp-route-id="@request.Id" method="post"
                            onsubmit="return confirm('Сигурни ли сте, че искате да изтриете тази заявка?');">
                                <button type="submit" class="btn btn-danger">Изтриване</button>
                            </form>
                        }
                    }
                    @if (User.IsInRole("Employee"))
                    {
                        @if (request.Status == "Изчакваща")
                        {
                            <form asp-action="SentToOwner" asp-route-id="@request.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Изпрати към собственик</button>
                            </form>
                        }
                    }
                    @if (User.IsInRole("Owner"))
                    {
                        @if (request.Status == "Изчакваща")
                        {
                            <form asp-action="SentToProvider" asp-route-id="@request.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Изпрати към доставчик</button>
                            </form>
                        }
                    }
                    @if (User.IsInRole("Owner"))
                    {
                        @if (request.Status == "Изпратена към собственик")
                        {
                            <form asp-action="SentToProvider" asp-route-id="@request.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Изпрати към доставчик</button>
                            </form>
                        }
                    }
                    @if (User.IsInRole("Employee"))
                    {
                        @if (request.Status == "Изпратена към доставчик")
                        {
                            <form asp-action="DoneRequest" asp-route-id="@request.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Изпълнена</button>
                            </form>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
@if (!User.IsInRole("Admin"))
{
    <a asp-action="Add" asp-controller="Request" class="btn btn-success">Създаване на нова заявка</a>
}