@model IEnumerable<ET_Vest.Models.PrintedEdition>﻿

<h2>Печатни издания</h2>
<table class="table">
    <thead>
        <tr>
            <th>Заглавие</th>
            <th>Категория</th>
            @*<th>Providers</th>*@
            <th>Периодичност</th>
            <th>Доставна единична цена</th>
            <th>Продажна цена</th>

            @*<th>Requests</th>*@
        @*     @if (User.IsInRole("Admin")|| User.IsInRole("Owner"))
            {
                <th>Actions</th>
            } *@
        </tr>
    </thead>
    <tbody>
        @foreach (var printedEdition in Model)
        {
            <tr>
                <td>@printedEdition.Title</td>
                <td>@printedEdition.Cathegory</td>
                <td>@printedEdition.Periodicity</td>
                <td>@printedEdition.DeliveredUnitPrice</td>
                <td>@printedEdition.SalePrice</td>
                @if (!User.IsInRole("Employee"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@printedEdition.PrintedEditionId"
                           class="btn btn-primary">Редактиране</a>
                        <form asp-action="Delete" asp-route-id="@printedEdition.PrintedEditionId" method="post"
                              onsubmit="return confirm('Сигурни ли сте, че искате да изтриете това печатно издание?');">
                            <button type="submit" class="btn btn-danger">Изтриване</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (!User.IsInRole("Employee"))
{
    <a asp-action="Add" asp-controller="PrintedEdition" class="btn btn-success">
        Добавяне на ново печатно издание
    </a>
}